[Unit]
Description=Redis simple service

[Service]
User={{ redis_user }}
Group={{ redis_group }}

UMask=0077

LimitNOFILE=20000

ExecStart={{ redis_app_current }}/bin/redis-server {{ redis_conf }} --supervised systemd
Restart=always

TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
